.card-footer {
  ul:not(.pagination) {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    table-layout: fixed;
    li {
      display: table-cell;
      padding: 0;
      text-align: center;
    }
  }
}